<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Index</title>
</head>
<body>
<div align="center">
    <h1>Welcome to the Airsoft Information Map site (A.I.M)</h1>
    <table border="1" cellpadding="10">
    <p>Have a look at our fields, edit create or delete them!</p>
        <a href="/fieldsList">Fields list</a>
    <p>There's also an overview of the all the Airsoft shops in Denmark</p>
        <a href="shopsList">Shops list</a>
    <p>Or check out our user list, edit create or delete them</p>
        <a href="/usersList">User list</a>
    </table>
</div>
</body>
</html>